@font-face {
  font-family: Roboto;
  src: url("assets/fonts/RobotoSlab-VariableFont_wght.ttf");
}

* {
margin: 0 auto;
padding: 0;
}

body {
font-family: 'Montserrat';
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:active {
  color: black;
}

.nav-item {
  list-style: none;
  display: inline;
}

header {
  width: 100%;
  background-color: #FFD541;
  display: flex;
}

.nav {
  font-size: 18px;
  margin-top: 50px;
  padding: 10px;
}

.nav-item a {
  text-align: center;
  padding: 20px;
}


@media screen and (max-width: 820px) {
.nav-item a {
  padding: 15px;
}
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #FFE896;
}

.conteiner-one {
  width: 60%;
  text-align: center;
  padding: 10px 0 50px 0;
}

.profile {
  display: flex;
}

h1 {
  padding: 5px 15px;
  font-size: 30px;
}

h2 {
  padding: 10px;
  font-size: 22px;
}

h3 {
  padding: 10px;
  font-size: 20px;
}

h4 {
  padding: 10px;
  font-weight: 400;
}

.img {
  width: 450px;
  float: left;
  border-radius: 200px;
  margin: 10px 10px auto auto;
}

.profile-subtitle {
  margin: 160px auto auto 50px;
}

.conteiner {
  display: flex;
  width: 75%;
  text-align: center;
  padding: 10px 0 50px 0;
}

.section-about-me {
  width: 60%;
}

.section {
width: 50%;
}

.section-one {
  display: flex;
  width: 75%;
}

p {
  padding: 10px;
}

.section-left {
  width: 50%;
  padding: 0 35px;
}

.section-right {
  width: 50%;
  padding: 0 35px;
}

.skills-list {
  text-align: left;
  padding: 5px;
  margin: 0 0 0 50px;
}

pre {
  white-space: pre;
  transform: translate(-40%, 30%);
}

ul {
  text-align: left;
}

footer {
  width: 100%;
  background-color: #FFD541;
}

.conteiner-footer {
  display: flex;
  width: 65%;
  text-align: center;
  align-items: center;
}

.github {
font-size: 16px;
}

.icon {
  width: 25%;
  margin: 0;
}

hr {
  color: black;
  background-color: black;
  border: none;
  height: 1px;
}